<div class="jumbotron mt-2 border pt-4 pb-4" [ngClass]="{
  'bg-light': weatherHelper.isDayTime(weather),
  'bg-dark text-light': !weatherHelper.isDayTime(weather)}">
  <div class="row">
    <div class="col-1 d-flex justify-content-center">
      <img class="weatherIcon" [src]="weatherHelper.getWeatherIconLink(weather.currentWeather.WeatherIcon)" alt="">
    </div>
    <div class="col-5">
      <h4>{{ weather.state }}, {{ weather.country }}</h4>
      <span *ngIf="isCelsiusType">
        {{weatherHelper.getCTemperatureString(weather.currentWeather.Temperature.Metric)}}
      </span>
      <span *ngIf="!isCelsiusType">
        {{weatherHelper.getFTemperatureString(weather.currentWeather.Temperature.Imperial)}}
      </span>
    </div>
    <div class="col-5 text-right">
      <button *ngIf="!isFavorite()" (click)="addFavorite()" class="btn btn btn-success">
        Add to Favorites
      </button>
      <button *ngIf="isFavorite()" (click)="removeFavorite()" class="btn btn btn-danger">
        Remove from Favorites
      </button>
      <app-toggle-button (onChangeState)="setTemperatureType($event)" class="d-block" [trueText]="'Celsius'"
        [falseText]="'Fahrenheit'"></app-toggle-button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <h1>{{ weather.currentWeather.WeatherText }}</h1>
      <h4>Forecast: <br> {{ weather.forecast.Headline.Text }}</h4>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-around">
    <div *ngFor="let forecast of weather.forecast.DailyForecasts; let i = index"
      class="col-5 col-lg-2 border m-1 text-center p-2 text-wrap mt-2">
      <app-forecast [iconUrl]="weatherHelper.getForecastIcon(weather,i)" [date]="forecast.Date"
        [text]="weatherHelper.getCurrentForecastText(weather,i)"
        [tempRange]="weatherHelper.getTemperatureRange(forecast,isCelsiusType)"></app-forecast>
    </div>
  </div>
</div>
